* {
  font-family: "Roboto", sans-serif;
}
nav {
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 4px 6.8px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
.hero {
  background: url('images/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.maincontent {
  min-height: 100vh;
}
.downloadbox {
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6.8px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid #696969;
}
footer {
  box-shadow: 0px 4px 6.8px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  font-size: 0.8rem;
}
small {
  font-size: 0.8rem;
}